<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EndpointUri" value="https://trackpilot.documents.azure.com:443/" />
    <add key="PrimaryKey" value="iqBbCdpGwl5EE6hEBbFpbZJZlbBeyzC8b0fpPlIDEchoWyEwIaJIE3yubkopVAHyQapZ7xXvvp3PACDbfPNc7g==" />
  </appSettings>
</configuration>